.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  background-color: rgb(250, 250, 250);
  margin: 0;
}
.book-card {
  display: flex;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 5px;
  width: 100%;
  padding: 2rem 6rem 2rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}